<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chi_gitanalyz.gitanalyzator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".core.GitAplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/my_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.Splach"
            android:theme="@style/AnimationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AnimationActivity"></activity>

        <activity
            android:name=".ui.SignUpActivity"
            android:theme="@style/AnimationActivity"></activity>
        <activity
            android:name=".ui.project.ProjectsActivity"
            android:theme="@style/AnimationActivity"></activity>
        <activity
            android:name=".ui.project.GraphProjectActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AnimationActivity"></activity>
        <activity
            android:name=".ui.developer.DevelopersActivity"
            android:theme="@style/AnimationActivity"></activity>
        <activity
            android:name=".ui.CreateProjectActivity"
            android:theme="@style/AnimationActivity"></activity>
        <activity
            android:name=".ui.UpdateProjectActivity"
            android:theme="@style/AnimationActivity"></activity>
        <activity
            android:name=".ui.project.PieProjectActivity"
            android:configChanges="orientation|screenSize"></activity>

        <service android:name=".service.MyService"></service>

    </application>
</manifest>